{% extends '::base.html.twig' %}
{% block title %}History{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/timetracker/css/bootstrap.min.css') }}" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}
{% block body %}
	<div class="container">
		<h6>History page</h6>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ asset('bundles/timetracker/js/bootstrap.min.js') }}"></script>
{% endblock %}
