{% extends '::base.html.twig' %}
{% block title %}My Time Sheet{% endblock %}
{% block stylesheets %}
	{#<link href="css/bootstrap.min.css" rel="stylesheet">#}
	{#<link rel="stylesheet" href="{{ asset('bundles/phoenix/timetracker/css/bootstrap.min.css') }}" type="text/css"/>#}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}
{% block body %}
	<div class="container">
		<br/>
		<div class="list-group">
			<a href="add-entry.html" class="list-group-item">Add an entry</a>
		</div>
		<div class="list-group">
			<a href="history.php" class="list-group-item">History</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery.js"></script>
	{#<script src="js/bootstrap.min.js"></script>#}
{% endblock %}
